@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_vendor-prefixes.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_forms.scss";

.form-control {
  border: 1px solid $color-border-light;
  box-shadow: none;
  &:focus {
    border: 1px solid $label-color;
    outline: none;
    box-shadow: none;
    border-radius: 2px;
  }
  &::placeholder {
    color: $input-color-placeholder;
  }
}

//
// Buttons
// --------------------------------------------------

.btn-default {
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 2px solid;
      outline-color: darken($color-btn-default-hover, 10%);
    }
  }
  &:hover,
  &:focus,
  &.focus {
    background-color: $color-btn-default-hover;
    border-color: $color-btn-default-hover;
  }
}

.btn-primary {
  letter-spacing: 0.02em;
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 2px solid;
      outline-color: darken($color-btn-default-hover, 10%);
    }
  }
  &:hover,
  &:focus,
  &.focus {
    background-color: #353554;
    border-color: #353554;
    color: #fff;
  }
}

// Base styles
// --------------------------------------------------
.table,
.alert,
p {
  a {
    text-decoration: underline;
  }
}
.btn-link {
  text-decoration: underline;
}

table,
.table {
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-left: 0;
        border-right: 0;
      }
    }
  }
  > thead {
    > tr {
      > th,
      > td {
        background-color: $color-background-lvl-2;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
  }
}
