@import "variables";

.disabled {
  pointer-events: none;
  color: #CCCCCC !important;
}

hr.pane-separator {
  margin: 0;
}

.fa-check-square-o::before {
  // Hack to reduce the visible shift when you
  //  check a checkbox
  margin-left: 2px;
}

.pane-controls {
  display: flex;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 4px 0 8px 0;
  .bulk-actions {
    display: flex;
    align-items: center;

    & > i:first-child {
      // Checkbox icon has extra horizontal spacing,
      //  causing unequal padding between controls
      margin-right: -4px;
    }

    button {
      margin: 0 0 0 8px;
    }
  }
  .expand-collapse:only-child {
    // Right-align expand/collapse buttons when
    // bulk edit options aren't shown
    margin-left: auto;
  }
  .expand-collapse button:first-child {
    margin-right: 8px;
  }
  .btn-link {
    color: $link-color;
    font-size: 12px;
    padding: 5px;
  }
}

//Overrides style for closing button in vue-toasted
.toasted.toasted-primary.error {
  a {
    font-size: inherit;
    color: #EEE;
  }
}

//Tooltip style https://akryum.github.io/v-tooltip/#/
.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: $color-background-lvl-4;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    white-space: pre-line;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: $color-background-lvl-4;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

// Common drilldown side panes (factor, evidence)

.row-content-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.evidence-sentence {
  border-bottom: 1px solid #e5e5e5;
  margin: 2px;
}

.statement-item:last-child .evidence-sentence:last-child {
  border-bottom: none;
}

// Layout styles shared between evidence groups and factors
.title-slot-container {
  flex: 1;
  min-width: 0px;
  display: flex;
  justify-content: space-between;

  button {
    margin-right: 4px;
  }
}

.error-msg {
  color: $state-danger-text;
}

.secondary-navbar {
  background-color: transparent;
  height: $navbar-outer-height;
  display: flex;
  align-items: center;
}

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}

.btn-call-for-action {
  background: linear-gradient(180deg, #255DCC 0%, #2255BB 100%);
}


/** Arrow buttons style */

.btn-arrow-right,
.btn-arrow-left {
   position: relative;
   padding-right: 35px;
   color: #ffffff;
}

.btn-arrow-right {
   padding-left: 30px;
}

.btn-arrow-left {
   padding-right: 30px;
}

.btn-arrow-right:after,
.btn-arrow-left:before {
   /* make two squares (before and after), looking similar to the button */

   content: "";
   position: absolute;
   top: 5px;
   /* move it down because of rounded corners */

   width: 25px;
   /* same as height */

   height: 25px;
   /* button_outer_height / sqrt(2) */

   background: inherit;
   /* use parent background */

   border: inherit;
   /* use parent border */

   border-left-color: transparent;
   /* hide left border */

   border-bottom-color: transparent;
   /* hide bottom border */

   border-radius: 0px 4px 0px 0px;
   /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */

   -webkit-border-radius: 0px 4px 0px 0px;
   -moz-border-radius: 0px 4px 0px 0px;
}

.btn-arrow-right:after {
   transform: rotate(45deg);
   /* rotate right arrow squares 45 deg to point right */

   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
}

.btn-arrow-left:before{
   transform: rotate(225deg);
   /* rotate left arrow squares 225 deg to point left */

   -webkit-transform: rotate(225deg);
   -moz-transform: rotate(225deg);
   -o-transform: rotate(225deg);
   -ms-transform: rotate(225deg);
}

.btn-arrow-right:after{
   /* align the "after" square to the right */

   right: -14px;
}

.btn-arrow-left:before{
  /* align the "before" square to the left */

  left: -14px;
}

.btn-arrow-right:after,
.btn-arrow-left:before {
   /* bring arrow pointers to front */

   z-index: 1;
}

.btn-arrow-right:before,
.btn-arrow-left:after {
   /* hide arrow tails background */

   background-color: transparent;
}
