@import '@/styles/variables';

@mixin data-space-container {
  height: $content-full-height;
  display: flex;
  overflow: hidden;
  --section-padding: 20px;
}

.config-column {
  width: 380px;
  background: var(--p-surface-50);
  border-right: 1px solid $un-color-black-10;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  section {
    padding: var(--section-padding);
    border-top: 1px solid $un-color-black-10;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: var(--section-padding);
  }
}

.output-variables {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .unit {
    margin-top: 5px;
  }
}

.labelled-dropdowns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.labelled-dropdown {
  display: flex;
  gap: 5px;
  align-items: baseline;

  p {
    flex: 1;
    min-width: 0;
  }

  & :deep(.dropdown-btn) {
    width: 122px;
    display: flex;
    justify-content: space-between;
  }
}

.media-files {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.visualization-container {
  flex: 1;
  min-width: 0;
  background: white;
  display: flex;
  flex-direction: column;
}

.date-selector {
  height: 170px;
  border-bottom: 1px solid $un-color-black-10;
  padding: var(--section-padding);
  padding-right: 0;
  display: flex;

  .timeseries-chart {
    flex: 1;
    min-width: 0;
  }

  .selected-date {
    margin-top: 10px;
    padding-left: var(--section-padding);
  }
}

.date-dependent-data {
  flex: 1;
  min-height: 0;
  display: flex;
  padding: var(--section-padding);
  // The bar chart panel needs to specify its own padding so that its "sortable header" tooltips
  //  aren't clipped for being outside of its bounding box.
  padding-right: 0;
}

.maps {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;

  .card-maps-box {
    flex: 1;
    min-height: 0;
    gap: 2px;
    display: grid;
    /*
    `auto-t` is a special value for the "how many times" parameter of the repeat() function.
      It fits as many columns as possible onto a row.
    `minmax` clamps the column width to be at least 300px,
      while still expanding each column to take an even share of the remaining space (1fr).
    */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow-y: auto;
  }

  .new-analysis-map {
    min-height: 133px;
  }

  & > button {
    align-self: flex-start;
  }
}

.bar-chart-panel,
.selected-date {
  width: 300px;
}
