@import '@/styles/variables';

.first-column-width {
  width: 330px;
}

:deep(.dojo-mark) {
  color: $accent-medium;
  background-color: $accent-lightest;
  border: 1px solid $accent-light;
  padding: 0 2px;
}
