facet-terms {
  --facet-terms-bar-0-normal: #{$accent-dark};
  // Hide the rectangle that appears to the left of an item on hover
  --facet-terms-tick-color: transparent;
  --facet-terms-bar-0-normal-contrast-hover: #{$accent-main};
  --facet-terms-bar-0-selected: #{$accent-main};
  --facet-terms-selected-background: #{$accent-lightest};
  --facet-terms-bar-0-muted-contrast-hover: #{$accent-medium};
  --facet-terms-bar-0-selected-contrast-hover: #{$accent-main};
  --facet-terms-bar-0-selected-contrast: #{$accent-medium};
  --facet-terms-bar-0-normal-contrast: #{$accent-medium};
  --facet-terms-bar-1-muted-contrast-hover: #{$accent-medium};
}

facet-bars {
  // Hide the rectangle that appears to the left of an item on hover
  --facet-bars-tick-color: transparent;
  --facet-bars-0-selected: #{$accent-main};
  --facet-bars-0-selected-contrast: #{$accent-medium};
  --facet-bars-0-selected-contrast-hover: #{$accent-main};
  --facet-bars-1-unselected-contrast-hover: #{$accent-lightest};
  --facet-bars-0-unselected-contrast-hover: #{$accent-main};
  :deep(.facet-bars-selection-computed) {
    border-color: $accent-main;
    background-color: rgba($color: $accent-main, $alpha: 0.05);
  }
  :deep(.facet-bars-selection-handle-left) {
    border-right-color: $accent-main;
  }
  :deep(.facet-bars-selection-handle-right) {
    border-left-color: $accent-main;
  }
  :deep(.facet-bars-selection-clear-button) {
    background-color: $accent-main;
  }
  :deep(.facet-bars-value-background) {
    background-color: $accent-lightest;
  }
}
