.tab-description {
  margin-top: 20px;
}

.tab-content {
  margin: 40px 0 20px 0;
}

.fixed-width-input {
  width: 250px;

  :deep(.dropdown-button-container),
  &.dropdown-button-container {
    display: flex;
  }

  :deep(.dropdown-btn) {
    flex: 1;
    min-width: 0;
    display: flex;
    justify-content: space-between;
  }
}

.row-with-description {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.removable-row {
  display: flex;
  gap: 2px;
}

.labelled-row {
  display: flex;
  > *:first-child {
    width: 125px;
  }
}

.icon-button {
  width: 28px;
  display: flex;
  align-items: center;
}
