input {
  -webkit-appearance: none;
  appearance: none;

  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      border: 2px solid $selected;
    }
  }
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #ffffff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-top: -4px;
  border: 2px solid $color-btn-primary;
  cursor: pointer;
}

input::-webkit-slider-runnable-track {
  background: $color-btn-primary;
  width: 100px;
  height: 8px;
  border-radius: 8px;
}
