@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_vendor-prefixes.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_forms.scss";

/*
  This file contains styles to override or reset the appearance
  of native elements (like removing margins from <hr>) and elements
  imported from custom stylesheets (like setting the colours used
  in the toaster-message library we're using).

  These styles are applied globally.

  If you only want to adjust some instances of an element, or if your
  element will have non-default behaviour, consider making a new
  component in `@/components/widgets/` with scoped styles instead.
*/

.form-control {
  border: 1px solid $color-border-light;
  box-shadow: none;
  &:focus {
    border: 1px solid $label-color;
    outline: none;
    box-shadow: none;
    border-radius: 2px;
  }
  &::placeholder {
    color: $input-color-placeholder;
  }
}

//
// Buttons
// --------------------------------------------------

.btn-default {
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 2px solid;
      outline-color: darken($color-btn-default-hover, 10%);
    }
  }
  &:hover,
  &:focus,
  &.focus {
    background-color: $color-btn-default-hover;
    border-color: $color-btn-default-hover;
  }
}

.btn-primary {
  letter-spacing: 0.02em;
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 2px solid;
      outline-color: darken($color-btn-default-hover, 10%);
    }
  }
  &:hover,
  &:focus,
  &.focus {
    background-color: #353554;
    border-color: #353554;
    color: #fff;
  }
}

// Base styles
// --------------------------------------------------
.table,
.alert,
p {
  a {
    text-decoration: underline;
  }
}

table,
.table {
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-left: 0;
        border-right: 0;
      }
    }
  }
  > thead {
    > tr {
      > th,
      > td {
        background-color: white;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
  }
}

hr {
  margin: 0;
}

input {
  -webkit-appearance: none;
  appearance: none;

  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      border: 2px solid $selected;
    }
  }
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #ffffff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-top: -4px;
  border: 2px solid #4E4E54;
  cursor: pointer;
}

input::-webkit-slider-runnable-track {
  background: #4E4E54;
  width: 100px;
  height: 8px;
  border-radius: 8px;
}

.fa-check-square-o::before {
  // HACK: reduce the visible shift when you
  //  check a checkbox
  margin-left: 2px;
}

.btn-call-for-action, .btn-call-for-action:active {
  background: $call-for-action-gradient;
}


// Overrides style for closing button in vue-toasted
.toasted.toasted-primary.error {
  a {
    font-size: inherit;
    color: #EEE;
  }
}
