/*
  This file contains SCSS variables that are useful for a variety
  of different components across the app.
  
  Add `@import '@/styles/variables'` to the top of your component's
  scoped SCSS section to be able to use these variables.

  Before adding a new variable here, consider:
  1. is an existing one is close enough to be meaningfully or
    semantically the same?
  2. would we want multiple components to reference this shared
    definition? It may be worth defining the variable in multiple
    scoped components if we'd want to change them independently
    later.
*/

// Positive values
$positive: #0072b2;
// Negative values
$negative: #d55e00;

$call-to-action-color: hsl(260, 39%, 43%);

// Selection color
// If you'rechanging these, you likely want to change their JavaScript
//  equivalents in colors-util.ts
$selected: #8858e9;
$selected-dark: $call-to-action-color;

$tinted-background: ghostwhite;

// Color used for button links
$link-color: $selected-dark;

$vetted-state-dark: #009e74;

// Main navbar height (includes margin and border height)
$navbar-outer-height: 51px;

// 100% height - navbar
$content-full-height: calc(100vh - #{$navbar-outer-height});

$label-color: #707070;
$text-color-light: #C2C2C4;
$text-color-medium: #9C9D9E;
$text-color-dark: #16161C;

$font-size-small: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-large: 1.6rem;
$font-size-extra-large: 1.8rem;

@mixin header-secondary() {
  font-size: $font-size-medium;
  text-transform: uppercase;
  letter-spacing: .066rem;
  color: $label-color;
  font-weight: 600;
}

// Color used for borders and separators
$separator: #e5e5e5;

// Background Colors
$background-light-1: #FFFFFF;
$background-light-2: #F2F2F2;
$background-light-3: #E6E6E6;

$background-light-1-faded: #FAFAFA;

// Box Shadows
$shadow-level-1:
  0px 4px 8px 4px rgba(0, 0, 0, 0.05),
  0px 0px 4px 2px rgba(0, 0, 0, 0.05);

$shadow-level-2:
  0px 0px 8px 4px rgba(0, 0, 0, 0.02),
  0px 0px 4px 2px rgba(0, 0, 0, 0.02);

// Transitions
$layout-transition: .3s ease;
